/lib
/build/
/.tools/
/app/ios/RTABMapApp/Libraries/
/corelib/include/rtabmap/core/Version.h
/corelib/include/rtabmap/core/rtabmap_core_export.h
/guilib/include/rtabmap/gui/rtabmap_gui_export.h
/utilite/include/rtabmap/utilite/utilite_export.h
.DS_Store
.settings/language.settings.xml
.idea/
.vscode
cmake-build-debug/
app/android/.classpath
app/android/.project
app/android/AndroidManifest.xml
app/android/res/raw/
compile_flags.txt
tags
build_*
*.bak
